.FooterItem{
    font-size: 16px;
    padding: 16px 0px;
    display: flex;
    color: var(--linknav-color);
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.FooterSite{
    font-size: 0.8em;
}
.footerCredits{
    display: flex;
    gap: 5px;
}
.footerCredits a {
    transition: var(--transition-hover-text);
    color: var(--linknav-color);
}
.footerCredits a:hover {
    color: var(--linknav-color-hover);
}

@media (min-width: 600px) and (max-width: 1024px) {
    .FooterItem{
        font-size: 22px;
    }
}